In [1]:
import pandas as pd

In [2]:
url="https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics"
tables = pd.read_html(url)

In [3]:
type(tables)

list

In [4]:
len(tables)

1

In [7]:
fundraising=tables[0]

In [9]:
fundraising.head()

      Year Source        Revenue       Expenses    Asset rise   Total assets
0  2021/22    PDF  $ 154,686,521  $ 145,970,915   $ 8,173,996  $ 239,351,532
1  2020/21    PDF  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
2  2019/20    PDF  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
3  2018/19    PDF  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
4  2017/18    PDF  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570

In [10]:
type(fundraising)

pandas.core.frame.DataFrame

In [12]:
fundraising.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
dtype: object

In [13]:
fundraising['Rev']= fundraising['Revenue'].str[2:]

In [15]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev
0,2021/22,PDF,"$ 154,686,521","$ 145,970,915","$ 8,173,996","$ 239,351,532","154,686,521"
1,2020/21,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536","162,886,686"
2,2019/20,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725","129,234,327"
3,2018/19,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425","120,067,266"
4,2017/18,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570","104,505,783"

In [16]:
fundraising['Rev']=fundraising['Rev'].str.replace(',','')

In [18]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev
0,2021/22,PDF,"$ 154,686,521","$ 145,970,915","$ 8,173,996","$ 239,351,532",154686521
1,2020/21,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",162886686
2,2019/20,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",129234327
3,2018/19,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",120067266
4,2017/18,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783

In [19]:
fundraising.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
Rev             object
dtype: object

In [20]:
fundraising['Rev']=pd.to_numeric(fundraising['Rev'])

In [21]:
fundraising.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
Rev              int64
dtype: object

In [25]:
fundraising['Exp']= fundraising['Expenses'].str[2:]
fundraising['Exp']=fundraising['Exp'].str.replace(',','')

In [28]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev,Exp
0,2021/22,PDF,"$ 154,686,521","$ 145,970,915","$ 8,173,996","$ 239,351,532",154686521,145970915
1,2020/21,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",162886686,111839819
2,2019/20,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",129234327,112489397
3,2018/19,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",120067266,91414010
4,2017/18,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783,81442265

In [29]:
fundraising.loc[0,'Exp']='spam'

In [30]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev,Exp
0,2021/22,PDF,"$ 154,686,521","$ 145,970,915","$ 8,173,996","$ 239,351,532",154686521,spam
1,2020/21,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",162886686,111839819
2,2019/20,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",129234327,112489397
3,2018/19,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",120067266,91414010
4,2017/18,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783,81442265

In [33]:
fundraising['Exp']=pd.to_numeric(fundraising['Exp'], errors='coerce')

In [34]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev,Exp
0,2021/22,PDF,"$ 154,686,521","$ 145,970,915","$ 8,173,996","$ 239,351,532",154686521,NaN
1,2020/21,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",162886686,111839819.0
2,2019/20,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",129234327,112489397.0
3,2018/19,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",120067266,91414010.0
4,2017/18,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783,81442265.0

In [35]:
fundraising.dtypes

Year             object
Source           object
Revenue          object
Expenses         object
Asset rise       object
Total assets     object
Rev               int64
Exp             float64
dtype: object